:root {
    /* Montserrat Font Variations */
    --primaryFont: "Montserrat", sans-serif;
    --thinFontWeight: 300;
    --normalFontWeight: 500;
    --boldFontWeight: 700;

    /* Color Scheme */
    --primaryColor: burlywood;
    --secondaryColor: #98bd97;
    --tertiary: wheat;
    --textColor: black;
}

/* ========== GENERAL STRUCTURE ========== */

body {
    margin: 0;
    background-color: var(--secondaryColor);
    font-family: var(--primaryFont);

}

h1 {
    font-size: 24px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    background-color: var(--secondaryColor);
}

/* ========== HEADER STYLES ========== */

header span {
    display: block;
    align-content: center;
    text-align: center;
    font-family: var(--primaryFont);
    font-weight: var(--normalFontWeight);
    font-size: 45px;
    height: 100px;
    background-color: var(--primaryColor);
    border-bottom: 3px solid black;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondaryColor);
    font-family: var(--primaryFont);
    font-weight: var(--boldFontWeight);
    padding: 1rem;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: var(--textColor);
}

nav a:hover,
li a:hover {
    text-decoration: underline dashed 5px var(--primaryColor);
}

/* ========== CARD STYLES ========== */

.card {
    border: 3px solid black;
    border-radius: 12px;
    background-color: var(--tertiary);
    padding: 1rem;
    margin: 1rem;
    position: relative;
}

.card a {
    text-decoration: none;
    color: var(--textColor);
}

.card li {
    padding: 5px 0px;
}

.card img {
    width: 250px;
    height: auto;
}

/* ========== ABOUT ME SECTION ========== */

.about-me h2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primaryColor);
    margin: 0;
    padding: 0.5rem 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 3px solid black;
    text-align: center;
    font-size: 2rem;
}

.about-content {
    background: wheat;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    padding: 1rem;
}

.card.about-me .about-content h1 {
    text-align: center;
    border-bottom: solid 2px black;
    margin-left: 7rem;
    margin-right: 7rem;
    font-size: 24px;
}

.img-subtext {
    text-align: center;
    margin-top: -8px;
}


.about-text {
    padding-top: 3rem;
    font-size: 18px;
}


.card img {
    border-radius: 17px;
    border: solid 2px black;
}

.upper-selfie {
    margin-top: 4rem;
}

.lower-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.lower-content img {
    width: 150px;
}

.lower-content p {
    margin-top: 0;
    font-size: 18px;
}

/* ========== RESOURCE LINKS ========== */

.resource-links {
    text-decoration: none;
    font-size: 19px;
}

.valuable-resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* ========== FOOTER STYLES ========== */

footer {
    font-family: var(--primaryFont);
    font-weight: var(--thinFontWeight);
    text-align: center;
}