:root {
    /* Colors */
    --primaryColor: burlywood;
    --secondaryColor: #98bd97;
    --tertiary: wheat;
    --textColor: black;

    /* Fonts */
    --primaryFont: "Montserrat", sans-serif;
    --thinFontWeight: 300;
    --normalFontWeight: 500;
    --boldFontWeight: 700;

    /* Border */
    --border: 3px solid black;
}

/* GLOBAL STUFF */
body {
    margin: 0;
    font-family: var(--primaryFont);
    background-color: var(--secondaryColor);
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

p {
    font-size: 1.3rem;
}

/* HEADER SECTION */
header {
    width: 100%;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-bottom: 5px solid black;
    padding: 0.5rem;
    background-color: var(--primaryColor);
}

.logo-title img {
    width: 50px;
    height: auto;
}

.logo-title h1 {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.small-title-text {
    font-size: 12px;
    margin-left: 1px;
    margin-right: 8px;
    padding-top: 10px;
}

/* This is such a minor detail but the "W" was just too far away from the "ork" */
.w-title {
    margin-left: -4px;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondaryColor);
    padding: 1rem;
    background-color: var(--secondaryColor);
    max-width: 1700px;
    margin: 0 auto;

}


nav a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: var(--boldFontWeight);
    color: var(--textColor);
    padding: 1rem;
    border: solid 1px black;
    border-radius: 1rem;
    background-color: var(--primaryColor);
}

nav a:hover {
    background-color: var(--tertiary);
    transition: background-color 0.20s ease-in-out 0.15s;
}

/* MAIN */

.card {
    margin: 1rem;
    border: 3px solid black;
    border-radius: 12px;
    background-color: var(--tertiary);
    position: relative;
    padding: 1rem;
}



.introduction p {
    grid: 1;
}

.introduction img {
    height: auto;
    border-radius: 2rem;
    max-width: 100%;
    height: auto;
}




.my-method-text-content img {
    width: 400px;
    height: auto;
}

.intro {
    grid-column: 1 / -1;
    background-color: var(--primaryColor);
    padding: 1rem;
    border-radius: 1rem;
    border: var(--border);
}

.left-side {
    background-color: var(--primaryColor);
    padding: 1rem;
    border-radius: 1rem;
    border: var(--border);
}

.left-side p {
    margin-top: 0px;
}

.intro h2,
.left-side h2 {
    background-color: var(--secondaryColor);
    border: var(--border);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0px;
    margin-bottom: 0.8rem;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
footer {
    padding: 1rem;
    text-align: center;
}



/* Form CSS */
.hidden {
    display: none;
}


.wf1 {
    padding: 1rem;
    background-color: var(--primaryColor);
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    font-size: 24px;
}

.wf1 h1 {
    text-align: center;
    background-color: var(--tertiary);
    border: 3px dashed black;
    border-radius: 1rem;
    padding: 0.5rem;
}

.wf1 fieldset {
    margin: 1.5rem 0;
    border: 2px solid black;
    border-radius: 1rem;
    padding: .5rem 2%;
    background-color: var(--tertiary);
}

legend {
    font-weight: var(--boldFontWeight);
    font-size: 1.5rem;
}

.calculateButton {
    display: block;
    margin: 1px auto;
    text-align: center;
    font: var(--primaryFont);
    font-size: 2rem;
    background-color: var(--secondaryColor);
    padding: 8px;
    border-radius: 1rem;
}


/* Table CSS */

.table-container {
    overflow-x: auto;
    width: 100%;
    height: auto;
}

.resultsTable {
    padding: 1rem;
    background-color: var(--tertiary);
    border-radius: 1rem;
    border: 1px solid black;
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
}

table {
    margin: 10px auto;
    box-shadow: 0 0 10px hsl(0, 0%, 1%);
    border-collapse: separate;
}

th,
td {
    padding: 5px;
    border: 1px solid grey;
    white-space: nowrap;
}

tbody tr:nth-child(odd) {
    background-color: antiquewhite;
}

thead tr {
    background-color: var(--primaryColor);
}


.summary-row {
    font-weight: var(--boldFontWeight);
}

.total-available {
    background-color: lightgreen;
}

.total-spent {
    background-color: lightcoral;
}

.total-remaining {
    background-color: lightblue;
}


/* Spirit Page */

.hero-container {
    width: 100vw;
    height: auto;
}