:root {

    /* Colors */
    --primaryColor: burlywood;
    --secondaryColor: #98bd97;
    --tertiary: wheat;
    --textColor: black;

    /* Font & weight variations */
    --primaryFont: "Montserrat", sans-serif;
    --thinFontWeight: 300;
    --normalFontWeight: 500;
    --boldFontWeight: 700;
}


body {
    background-color: var(--primaryColor);
    font-family: var(--primaryFont);
}


.wf1 {
    background-color: var(--tertiary);
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 600px;
    margin: 0px auto;
}

.wf1 fieldset {
    background-color: var(--primaryColor);
    margin: 1.5rem 0;
    border: 1px solid #808080;
    border-radius: 0.5rem;
    padding: 1rem 2.5%;
}


.wf1 legend {
    font-weight: var(--boldFontWeight);
    padding: 0px 0.5rem 0px 0.5rem;
}

.wf1 label {
    display: block;
    color: rgb(75, 46, 3);
    padding-top: 0.8rem;
    font-weight: var(--normalFontWeight);
}



.wf1 input[type="text"],
textarea {
    font-family: var(--primaryFont);
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #808080;
    width: 75%;
    height: 2rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
}

h1 {
    padding-bottom: 1rem;
}

.optional {
    color: rgb(0, 0, 167);
    font-size: 0.8rem;
}


#date {
    font-family: var(--primaryFont);
}


#submit {
    padding: 1rem;
    width: 100%;
    font-family: var(--primaryFont);
    font-size: 1.5rem;
    font-weight: var(--boldFontWeight);
    border-radius: 1rem;
    border: 2px solid #808080;
    background-color: var(--secondaryColor);
}

footer {
    background-color: var(--secondaryColor);
    max-width: 600px;
    padding: 0.5rem;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 1rem;
    border: 1px solid #808080;

}